@model asp19.Models.Cliente

@{
    ViewData["Subtitle"] = "Editar Cliente";
}

<h2 class="titulo">@ViewBag.Subtitle</h2>

<hr />

<div class="card bg-light p-5">

    <form asp-controller="home" asp-action="editar_cliente">
       @Html.HiddenFor(model => model.id)
        <div class="form-group">
            @Html.LabelFor(model => model.nome)
            <br />
            @Html.EditorFor(model => model.nome)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.telefone)
            <br />
            @Html.EditorFor(model => model.telefone)
        </div>

        <a asp-controller="home" asp-action="index" class="btn btn-primary">Cancelar</a>
        <button class="btn btn-primary">Guardar</button>
    </form>

</div>

